<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /frisan/
    
    # Don't rewrite if the file or directory exists  
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite all requests to public/index.php
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>
